<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form th:object="${user}" th:action="@{/admin/edit/{path}(path=${user.getId()})}" method="POST">
    First name: <input type="text" name="firstname" th:placeholder="${user.getFirstname()}"><br/>
    Last name: <input type="text" name="lastname" th:placeholder="${user.getLastname()}"><br/>
    Age: <input type="text" name="age" th:placeholder="${user.getAge()}"><br/>
    Email: <input type="text" name="email" th:placeholder="${user.getEmail()}"><br/>
    Password: <input type="text" name="password"></br>
    <select name="roleEnum">
        <option th:each="role : ${T(ru.kata.spring.boot_security.demo.models.RoleEnum).values()}"
                th:value="${role}" th:text="${role}">
            Role
        </option>
    </select>
    </br>
    <button type="submit">Update user</button>
</form>
<a th:href = "@{/admin/userList}"> Back to User List</a>
</body>
</html>