<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h2>User list</h2>
<table>
    <tr><th>Id</th><th>Name</th><th>Lastname</th><th>Age</th><th>Email</th><th>Role</th><th>Delete</th><th>Edit</th></tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getFirstname()}"></td>
        <td th:text="${user.getLastname()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td><th:block th:each="role : ${user.getAuthorities()}" th:text="${role.getAuthority()} + ' '"></th:block></td>


        <td>
            <a th:href="@{/admin/delete/{id}(id=${user.getId()})}">Delete</a>
        </td>
        <td>
            <a th:href="@{/admin/edit/{id}(id=${user.getId()})}">Edit</a>
        </td>
    </tr>
</table>
<h3>Add a new user</h3>
<form th:action="@{/admin/create}" method="POST">
    Firstname: <input type="text" name="firstname"><br/>
    Lastname: <input type="text" name="lastname"><br/>
    Age: <input type="text" name="age"><br/>
    Email:<input type="text" name="email"><br/>
    Password:<input type="text" name="password"><br/>
    <select name="roleEnum">
        <option th:each="role : ${T(ru.kata.spring.boot_security.demo.models.RoleEnum).values()}"
                th:value="${role}" th:text="${role}">
            Role
        </option>
    </select>
    <button type="submit">Add</button>
</form>

</br>
<a th:href="@{/admin}">Back to admin page</a>
<a th:href="@{/logout}">Logout</a>
</body>
</html>